<ion-header>
  <ion-toolbar>
    <ion-button class="menu" fill="clear" slots="icon-only" color="secondary">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-button>
      <ion-icon class="ion-text-center" name="clipboard-outline"></ion-icon>
      <ion-text class="ion-text-center"><strong>Lista de compras</strong></ion-text>
      <ion-progress-bar *ngIf="loading" type="indeterminate" color="secondary"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Listas Disponíveis</ion-list-header>

    <ion-item-sliding *ngFor="let lista of listas">

      <ion-item-options side="start">
        <ion-item-option color="secondary" [routerLink]="['/lista-register', lista.id]">
          <ion-icon name="pencil" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="excluir(lista)">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item>
        <ion-label>
           <h2>{{lista.descricao}}</h2>
           <h3>Categoria: <strong>{{ lista.categoria }}</strong></h3>      
        </ion-label>
        <ion-button [routerLink]="['/lista-compra',lista.id]">
           <ion-icon name="bag-handle-outline"></ion-icon>
        </ion-button>
      </ion-item>
      

    </ion-item-sliding>
    <ion-card style="background-color: #03a1fc;">
      <h1 style="color: #FFFFFF; text-align: center;">Total R$: {{totalLista}}</h1>
    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/lista-register']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  

</ion-content>
