<ion-header>
  <ion-toolbar>
    <ion-button class="menu" fill="clear" slots="icon-only" color="secondary">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-button>
    <ion-icon class="ion-text-center" name="bar-chart-outline"></ion-icon>
    <ion-text class="ion-text-center"><strong>DashBoard</strong></ion-text>
    <ion-spinner *ngIf="loading"></ion-spinner>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-subtitle>
      <H1 class="ion-text-center">Resumo</H1>
      <ion-item>
        <ion-label>
          <h1>Listas</h1>
          <h2>Quantidade: {{QtListas}}</h2>
          <h2>Preço Médio: {{PrcMedioLista}}</h2>
        </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-label>
          <h1>Produtos</h1>
          <h2>Quantidade: {{QtProdutos}}</h2>
          <h2>Preço Médio: {{PrcMedioProduto}}</h2>
        </ion-label>
      </ion-item>   
  
      <ion-item>
        <ion-label>
          <h1>Mecados</h1>
          <h2>Quantidade: {{QtMercados}}</h2>
        </ion-label>
      </ion-item> 
    </ion-card-subtitle>
    <ion-card>
      <h1>Total {{QtTotLista}}</h1>
      </ion-item>
    </ion-card>

    
  </ion-card>
  
  
  <canvas #barCanvas style="position: relative;">

  </canvas>


</ion-content>

<ion-footer>

</ion-footer>
