
ion-content{
    display: flex;
}
ion-card{
    flex: 1;
    display: flex;
    background-color: #2596be;
    color: #FFFFFF;
    ion-card-subtitle{
        flex: 5;
        color: #FFFFFF;
        background-color: #2596be;

    }
    h1,h2{
        font-size: 14px;
    }
    ion-item{
        flex: 1;
        flex-direction: row;
        background-color: #2596be;
        --background:#2596be;
        font-size: 10px;
        h1, h2{
            /*font-size: 0.6rem;*/
            color: #FFFFFF;
        }
        ion-label{
            background-color: #2596be;
        }
    }
}

canvas {
    flex: 1;
}

